{{template "base" .}}

{{define "title"}}
    <title>About</title>
{{end}}

{{define "content"}}

<div id="container">
        <div class="row mt-4">
          <div class="col float-left ml-4">
            <h3>About Travel Tryst Bed and Breakfast</h3>
            <p> Welcome to Travel Tryst Bed and Breakfast, where hospitality meets excellence. Founded with a passion for creating memorable experiences, we are dedicated to providing a haven of comfort and luxury for our guests. Nestled in [Location], our hotel is more than just a place to stay; it's a gateway to a world of sophistication and warm hospitality.
            </p>
            <h3>Our Story</h3>
          <p>
            Travel Tryst Bed and Breakfast began its journey with a vision to redefine hospitality. Established in 2023, our founders envisioned a space where every guest feels not just welcomed but cherished. Over the years, we have grown into a cherished destination for travelers seeking a blend of modern luxury and personalized service.
          </p>

          <h3>Our Commitment</h3>
          <p>At Travel Tryst Bed and Breakfast, we are committed to exceeding your expectations. Our team of dedicated professionals is passionate about curating an environment where every detail is meticulously crafted to ensure your stay is nothing short of extraordinary. From the moment you step through our doors, you become a part of our story, and your satisfaction is our top priority.
          </p>
          </div>
          <div class="col float-right">
            <img src="/static/images/outside-hotel.png" alt="" style="width: 600px; height: 450px;">
          </div>
          <div class="clearfix"></div>
        </div>
        <br>
        <br>
    </div>
{{end}}