{{define "base"}}
    <!doctype html>
        <html lang="en">
        <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
            <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
            <!-- Add css for each page-->
            {{block "css" .}}
            {{end}}
            
            {{block "title" .}}
            {{end}}
            <link rel="icon" type="image/png" href="/static/images/favicon.png">
        </head>
        <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">&nbsp;</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Rooms
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {{$rooms := index .RoomsList "roomsList"}}
                                {{range $rooms}}
                                    <a class="dropdown-item" href="/rooms/{{.ID}}">{{.RoomName}}</a>
                                {{end}}
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/search-availability" tabindex="-1" aria-disabled="true">Book Now</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact" tabindex="-1" aria-disabled="true">Contact</a>
                        </li>
                        <li class="nav-item">
                            {{if eq .IsAuthenticated 1}}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/admin/dashboard">Dashboard</a>
                                        <a class="dropdown-item" href="/user/logout">Logout</a>
                                    </div>
                                </li>
                                
                            {{else}}
                                <a class="nav-link" href="/user/login" tabindex="-1" aria-disabled="true">Login</a>
                            {{end}}
                        </li>
                    </ul>
                </div>
            </nav>

    <!--page contents block for each page passed from page handler-->
    {{block "content" .}}

    {{end}}
    
    <!-- Page footer -->
    <div class="row page-footer">
      <div class="col text-center">
        <em>Travel Tryst</em><br>
        <b>1591 NW Gateway Ave,<br>
             Vancouver, WA 98660, USA<br>
            +103-247-4637 <br>
            <a href="mailto:contact@traveltryst.com">contact@traveltryst.com</a>
        </b>

        
      </div>
      <div class="col">
      </div>
      <div class="col text-center">
        <b>Enjoy your Trip &amp; Stay Safe</b>
      </div>
    </div>
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>    
      <script src="https://unpkg.com/notie"></script>
      <script>
        function notify(msg, msgType){
          notie.alert({
              type: msgType, // optional, default = 4, enum: [1, 2, 3, 4, 5, 'success', 'warning', 'error', 'info', 'neutral']
              text: msg,
            })
        }
        {{with .Error}}
            notify("{{.}}", "error")
        {{end}}
        {{with .Flash}}
            notify("{{.}}", "success")
        {{end}}
        {{with .Warning}}
            notify("{{.}}", "warning")
        {{end}}
      </script>



    <!--Custom javascript code  block for each page passed from page handler-->
    {{block "js" .}}
    {{end}}
  </body>
</html>
{{end}}